---
layout: default
title: "Contact"
permalink: /contact/
author_profile: false
banner_image: /files/ContactBanner.JPG
banner_height: 40vh
banner_title: "Contact Information"
---

{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<!-- <div class="custom-banner">
  <h1>Contact Information</h1>
</div>

<style>
  .custom-banner {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 40vh;
    background-image: url('/files/ContactBanner.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom-banner h1 {
    color: white;
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 600px) {
    .custom-banner h1 {
      font-size: 1.8rem;
    }
  }
</style> -->

PAGE UNDER CONSTRUCTION

<hr>
<br>