---
layout: archive
title: "Research Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2>M.S. research</h2>
A detailed description of my M.S. research can be found in the <b>M.S. Research page</b>. The page consists of links to the <a href="https://doi.org/10.3390/rs16081365" target="_blank" style="text-decoration: none; color: inherit;">manuscript</a> and <a href="/publications/#DroneTopkill" target="_blank" style="text-decoration: none; color: inherit;">code repository</a>, <a href="/m_s_thesis/#GraphicalAbstract" target="_blank" style="text-decoration: none; color: inherit;">descriptive graphics</a>, <a href="/m_s_thesis/#PotreeViewer" target="_blank" style="text-decoration: none; color: inherit;">interactive point cloud viewers</a>, and a <a href="/m_s_thesis/#GISDayPrez" target="_blank" style="text-decoration: none; color: inherit;">short video presentation</a>. <a href="/m_s_thesis/">Click here to navigate to the M.S. Research page</a>.

<h2>Collaborative research</h2>  

<b>Graduate Research Assistant</b>, <a href = "https://www.earthdata.nasa.gov/esds/csda" target="_blank">NASA Commercial SmallSat Data Analysis (NASA CSDA) project</a> <br><br>
Project title: <i>Using commercial satellite imagery to study insect outbreaks in the US: Outbreak characteristics and evaluation of Landsat-based algorithms.</i><br>    
Project decription: This is a collaborative research project with researchers from the University of Idaho, Washington State University, and the US Forest Service Rocky Mountain Research Center.<br>
Principle Investigator: <a href = "https://environment.wsu.edu/arjan-meddens/" target="_blank">Dr. Arjan Meddens</a>, School of the Environment, Washington State University, Pullman, WA<br> 
<br>
Responsibilities:
<ul>
  <li>conduct collaborative research to develop machine learning image classification algorithms (RF, MLC, NN) that assess forest mortality using high-resolution satellite imagery</li>
  <li>assist field crew with forest inventory data collection (FIA-based)</li>
  <li>create and maintain spatial databases; perform logistics mapping </li>
  <li>execute drone imagery acquisition missions</li>
</ul>

Journal article (pre-print): <i>Developing a Rapid Classification Approach for Using Very High-Resolution Satellite Imagery to Map Insect-Caused Forest Disturbances.<br>
</i> <a href="https://dx.doi.org/10.2139/ssrn.4943044" target="_blank"><img alt="Static Badge" src="https://img.shields.io/badge/DOI%3A-https%3A%2F%2Fdx.doi.org%2F10.2139%2Fssrn.4943044-blue?logo=doi"></a>

<br>
<br>

<b>Collaborative Researcher</b>, UAV-based rangeland project <br>
<br>
<b>Principle investigator</b>: <a href = "https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiwoNLW6438AhVZI0QIHfYgAlYQFnoECAYQAQ&url=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fgeorgia-harrison-3b709210a&usg=AOvVaw3d3NBEKO3kqVgopCBGMr5b&cshid=1671733498993523" target="_blank">Dr. Georgia Harrison</a>   
Faculty advisor: <a href = "https://www.uidaho.edu/cnr/faculty/karl" target="_blank">Dr. Jason Karl</a><br>
Project title: <i>A comparison and development of methods for estimating sagebrush shrub volume.</i><br>
Project description: This project is funded by the Joint Fire Science Program's <a href = "https://www.firescience.gov/JFSP_funding_announcements.cfm" target="_blank">Graduate Research and Innovation (GRIN) Fellowship</a> secured by PI Georgia Harrison, Department of Plant Sciences, University of Idaho and is a part of her PhD dissertation.<br>
<br>
Journal article: <a href="https://doi.org/10.1002/ecs2.4877" target="_blank"><img alt="Static Badge" src="https://img.shields.io/badge/DOI%3A%20-https%3A%2F%2Fdoi.org%2F10.1002%2Fecs2.4877-blue?logo=doi"></a>
<br>
<br>

Responsibilities:
<ul>
  <li>develop workflow of estimating shrub canopy volume with 3D data from drones by modifying currently available forestry-based remote sensing tools and techniques</li>
  <li>use Git and GitHub for collaborative code sharing. GitHub repository URL: <a href = "https://github.com/gharrison159/UAVShrubVolumel" target="_blank">https://github.com/gharrison159/UAVShrubVolume</a></li>
</ul>

Here is an interactive preview of the shurb delineation and segmentation on a subset of the data for this project:


<div style="border: 1px solid #ffa500; background-color: #fff8e1; padding: 10px; border-radius: 5px; color: #333;">
  Use the left mouse button to tilt the 3D model and the mouse scroll wheel to zoom in and out. Individual colors represent segmented shrub.
</div>
<div style="display: flex;">
  <iframe src="/files/potree/html/ShrubSeglidR.html" width="50%" height="600" style="flex: 1;"></iframe>
</div>
<br>
<!-- <iframe src="/files/shrub_las_Widget.html" width="100%" height="600"></iframe> -->

<hr>

<div style="border: 1px solid #444c56; background-color: #0d1117; padding: 10px; border-radius: 5px; color: #c9d1d9;">
  <img src="../images/github.png" alt="GitHub-Icon" width="20" height="20" style="vertical-align: middle;"> Code pertaining to the projects are available as GitHub repositories. Links to the code repositories can be found in the <a href="/publications/#GitHubRepositories">Publications and Repositories</a> page <img src="../images/github.png" alt="GitHub-Icon" width="20" height="20" style="vertical-align: middle;">
</div>

<h3>Previous Research</h3> 

<b>GIS-based study of topographical preference of common tree species in Palisades-Kepler State Park, IA</b> (<i>Senior Honors Thesis, Coe College, Cedar Rapids, IA, 2019</i>)<br>
<br>
Abstract:
<br>
The study seeks to develop an understanding of the topographic characteristics that influence tree species composition of upland forests at Palisades-Kepler State Park, Linn County, Iowa. The role of Quercus alba, white oak, is a focus of this study. 123 plots containing 706 trees were sampled with the use of GPS receivers and field methods in the summer of 2017. The sampled field data were combined with its respective GPS data, and mapped on Digital Elevation Model imagery. Geographic Information System (GIS) analyses are used to develop a model of sites suitable for oak regeneration and maintenance within this forest.<br>
<ul>
  <li>Research blog URL: <a href = "https://oaksatpalisades.home.blog/" target="_blank">https://oaksatpalisades.home.blog/</a></li>

  <li>Thesis info URL: <a href = "https://coecollege.on.worldcat.org/oclc/1137317800" target="_blank"> https://coecollege.on.worldcat.org/oclc/1137317800 </a></li>
</ul>


<b>Distribution of Oaks (Quercus spp.) in Forests of Palisades-Kepler Park, Linn County, Iowa</b> (<i>Poster Presentation, Coe College Student Research Symposium, Cedar Rapids, IA, 2018</i>)<br>

<iframe src="/files/poster.pdf#zoom=page-fit" width="100%" height="800px" marginwidth="0"> </iframe>
<hr>

<!-- {% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

